ACTION!="add|change", GOTO="mbm_end"
SUBSYSTEM!="usb|tty", GOTO="mbm_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="413c|0930|0bdb", GOTO="mbm_vendorcheck"
GOTO="mbm_end"

LABEL="mbm_vendorcheck"
SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", ENV{.MBM_USBIFNUM}="$attr{bInterfaceNumber}"

ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8147|8183|8184|818d", ENV{.MBM_USBIFNUM}=="09", ENV{MBM_CAPABILITY}="gps_nmea"
ATTRS{idVendor}=="0930", ATTRS{idProduct}=="130b|130c|1311", ENV{.MBM_USBIFNUM}=="09", ENV{MBM_CAPABILITY}="gps_nmea"
ATTRS{idVendor}=="0bdb", ATTRS{idProduct}=="1900|1902|1904|1905|1906|1907|1911|190d|193e", ENV{.MBM_USBIFNUM}=="09", ENV{MBM_CAPABILITY}="gps_nmea", ENV{ID_MM_DEVICE_IGNORE}="1"

ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8147|8183|8184|818d", ENV{.MBM_USBIFNUM}=="03", ENV{MBM_CAPABILITY}="gps_ctrl"
ATTRS{idVendor}=="0930", ATTRS{idProduct}=="130b|130c|1311", ENV{.MBM_USBIFNUM}=="03", ENV{MBM_CAPABILITY}="gps_ctrl"
ATTRS{idVendor}=="0bdb", ATTRS{idProduct}=="1900|1902|1904|1905|1906|1907|1911|190d|193e", ENV{.MBM_USBIFNUM}=="03", ENV{MBM_CAPABILITY}="gps_ctrl"

LABEL="mbm_end"
